
    <div class="container m-5 mt-2 app-chat">
        <div class="mb-3">
            <h2>Chat</h2>
        <a href="/profile">Back to profile</a>
        </div>
        
        <div class="app-chat__input">
            <input type="text" class="form-control" id="chat-box" placeholder="Say something">
        </div>
        <div class="app-chat__messages border border-secondary-subtle rounded h-100 vh-100 mt-3" id="messages-box">
            
        </div>
    </div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


